body {
color: #464646;
font-family: "Open Sans";
font-size: 15px;
font-weight: 300;
line-height: 30px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.catalog-preview-photo h3 {
color: #000000;
font-family: Gilroy;
font-size: 18px;
font-weight: 700;
}
.services-title, 
.info-title, 
.contacts-title,
.page-title {
color: #000000;
font-family: Gilroy;
font-size: 47px;
font-weight: 700;
}
.filters-title,
 .catalog-title {
color: #000000;
font-family: Gilroy;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
}
.catalog-item-title {
color: #000000;
font-family: Gilroy;
font-size: 18px;
font-weight: 700;
}