@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/web/gilroyextrabold.woff2);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../fonts/web/gilroylight.woff2);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/web/opensans.woff2);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/web/opensanslight.woff2);
	font-weight: 300;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;

	color: #464646;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;

	background-color: #fff;
}

a {
	text-decoration: none;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}
.content-box-component {
	box-sizing: content-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.catalog-preview-photo h3 {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.services-title, 
.info-title, 
.contacts-title,
.page-title {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: 700;
}

.filters-title,
.catalog-title {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-item-title {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.page-header .container {
	color: #000;
	background-color: #f7e296;
}

.page-header-logo>a:hover {
	opacity: 0.6;
}

.page-header-logo>a:active {
	opacity: 0.3;
}

.page-header input[type='text'] {
	opacity: 0.3;
	background-color: #f7e296;
	border: none;
}

.page-header input[type='text']:hover {
	opacity: 0.6;
}

.page-header input[type='text']:focus {
	opacity: 1;
	outline: none;
	border-bottom: 2px solid black;
}

.search-site-button {
	color: #000000;
	line-height: 36px;
	border: 2px solid black;
	background: transparent;
	display: none;
}
.search-site-input:focus + .search-site-button {
	display: inline-block;
}

.search-site>.search-site-button:hover {
	color: #fff;
	background-color: #000000;
}

.search-site>.search-site-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.user-navigation,
.header-site-navigation,
.catalog-hidden,
.features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-navigation-link,
.user-navigation-compare,
.user-navigation-basket,
.user-navigation-profile {	
	color: #000000;
	line-height: 36px;
}

.user-navigation-link:hover,
.user-navigation-compare:hover,
.user-navigation-basket:hover,
.user-navigation-profile:hover {
	opacity: 0.6;
}

.user-navigation-link:active,
.user-navigation-compare:active,
.user-navigation-basket:active,
.user-navigation-profile:active {
	opacity: 0.3;
}

.header-site-navigation a {	
	color: #000000;
	font-family: Gilroy;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-hidden {
	display: none;	
}

.catalog-hidden a {
	color: #000000;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	text-transform: none;
}

.header-site-navigation>li:hover>.catalog-hidden {
	display: flex;
}

.header-site-navigation a:hover{
	opacity: 0.6;
}

.header-site-navigation a:active {
	opacity: 0.3;
}

.slider-number {
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 179px;
	font-weight: 700;
	line-height: 179px;
}

.slider-promo {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: 700;
}

.slider a {
	width: 220px;
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.slider a:hover {
	background-color: #f0c52e;
}

.slider a:active {
	color: rgba(0, 0, 0, 0.3);
}

.features-value {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 300;
}

.features-description {	
	font-size: 13px;
	line-height: 20px;
}

.catalog-preview-photo {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-preview-photo h3:active {
	color: rgba(0, 0, 0, 0.3);
}

.services-wrap {
	background-color: #e5e5e5;
}
.services-list,
.partners-list,
.info-partners-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-list a {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.services-list a:hover {
	background-color: #f0c52e;
}

.services-list a:active {
	color: #f7e184;
	background-color: #000000;
}

.partners-list img {
	opacity: 0.2;
	background-color: #000000; 
}

.partners-list img:hover {
	opacity: 1;
}

.info-partners-list a {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}

.info-partners-list a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.info-partners-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.info-details-link,
.contacts-letter-link {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.info-details-link:hover,
.contacts-letter-link:hover {
	background-color: #f0c52e;
}

.info-details-link:active,
.contacts-letter-link:active {
	color: #f7e184;
	background-color: #000000;
}

.page-footer {
	background-color: #464646;
}

.footer-user-navigation,
.footer-site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-user-navigation a {
	color: rgba(255, 255, 255, 0.7);
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
}

.footer-site-navigation a {
	color: #ffffff;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.page-footer-tel,
.page-footer-contacts {
	color: #ffffff;
}

.page-footer-logo:hover {
	opacity: 0.6;
}

.page-footer-logo:active {
	opacity: 0.3;
}

.footer-user-navigation a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.facebook {
	height: 32px;
	background-image: url(../img/fb.svg);
	font-size: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

.instagram {
	height: 32px;
	background-image: url(../img/instagram.svg);
	font-size: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

.twitter {
	height: 32px;
	background-image: url(../img/twitter.svg);
	font-size: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
	opacity: 0.6;
}

.facebook:active,
.instagram:active,
.twitter:active {
	opacity: 0.3;
}

.copiright a:hover {
	opacity: 0.6;
}

.copiright a:active {
	opacity: 0.3;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs a,
.breadcrumbs-active {
	opacity: 0.3;
	color: #000000;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}
.filters fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filters-title-wrap {
	background-color: #dbdbdb;
}

.filters form {
	margin: 0;
	padding: 0;
	background-color: #efefef;
}
.filters-title-price,
.filters legend {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.filters ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-option {
	color: #000000;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
}

.filter-input:hover {
	opacity: 0.6;
}

.filter-input:active {
	opacity: 1;
}

.sorting-list,
.sorting-value {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-sorting-wrap {
	background-color: #ebebeb;
}

.sorting-list a,
.sorting-value a {
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
}

.sorting-list a:hover,
.sorting-value a:hover {
	opacity: 0.6;
}

.sorting-list a:active,
.sorting-value a:active {
	opacity: 1;
}

button[type='submit'] {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	border: none;
}

button[type='submit']:hover {
	background-color: #f0c52e;
}

button[type='submit']:active {
	color: #f7e184;
	background-color: #000000;
}

.catalog-item-price {
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ebebeb;
}

.pagination-list a {
	opacity: 0.3;
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.pagination-item-active a {
	opacity: 1;
}

.pagination-list a:hover {
	opacity: 0.6;
}

.pagination-list a:active {
	opacity: 1;
}

.pagination-item-prev a,
.pagination-item-next a {
	color: #000000;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 1;
}
.pagination-item-prev a:hover,
.pagination-item-next a:hover {
	background-color: #d9d9d9;
	opacity: 1;
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
	background-color: #d9d9d9;
	opacity: 0.3;
}
/*Сетка страниц*/
.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.page-header .container {
	display: flex;
	flex-direction: column;	
}

.header-row-middle,
.user-navigation,
.header-site-navigation {
	display: flex;
	justify-content: space-between;
}

.header-site-navigation {
	flex-wrap: wrap;
}

.user-navigation {
	width: 500px;
	min-height: 40px;
	margin-right: 60px;
	flex-wrap: wrap;	
}

.page-header-logo,
.header-row-middle,
.page-navigation {
	margin-left: 60px;
}

.page-navigation {
	margin-right: 60px;	
	margin-top: 40px;
}

.header-site-navigation>li:first-child {
	width: 540px;
}

.header-site-navigation>li:nth-child(2) {
	margin-right: auto;
}

.header-site-navigation>li:nth-child(3) {
	margin-right: 180px;
}

.catalog-hidden {
	flex-wrap: wrap;
}

.catalog-hidden-item {
	margin-right: 40px;
}
.slider {
	display: flex;
	margin-right: 60px;
	margin-left: 60px;
}

.slider-photo-wrap {
	width: 50%;
}

.slider-description-wrap {
	width: 50%;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.slider-number {
	order: -1;
	align-self: flex-end;
}
.features {
	display: flex;
}
.features-item {
	width: 140px;
}

.catalog-preview-photo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services-wrap .container,
.services-list {
	display: flex;
}

.services-wrap .container {
	align-items: baseline;
}

.services-list {
	flex-direction: column;
	min-width: 300px;
	margin-right: 100px;
}

.services-title {
	margin: 0;
	padding: 0;
}

.services-list-item {
	width: 160px;
	text-align: center;
	margin-bottom: 30px;	
}

.partners-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-info-wrap {
	display: flex;
}

.info
.contacts {
	display: flex;
	flex-direction: column;
}

.info {
	min-width: 480px;
	margin-right: 120px;
}

.page-footer>.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer-top-wrap,
.footer-middle-wrap,
.footer-bottom-wrap,
.footer-user-navigation,
.footer-site-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-middle-wrap {
	align-items: baseline;
}

.footer-site-navigation {
	width: 440px;
	justify-content: space-around;
}

.footer-user-navigation {
	width: 360px;
}
.social-button {
	display: inline-block;
	min-width: 34px;
	min-height: 34px;
}
.facebook,
.instagram {
	margin-right: 23px;
}
